<!DOCTYPE html>
<html>
<head>
    <title>Route Information</title>
</head>
<body>
    <h1>Route Information</h1>
    <ul>
        {% if len(routes) == 0}
            You have nothing to show!
        {% endif %}    
        {% for route in routes %}
        <li>
            <strong>Origin:</strong> {{ route.origin }}<br>
            <strong>Destination:</strong> {{ route.destination }}<br>
            <strong>Driver:</strong> {{ route.driver }}<br>
        </li>
        {% endfor %}
    </ul>
    <a href="home" class="cta-button">Back to home</a>
</body>
</html>
